RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-s
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.php?url=$1


# http://localhost/web-MVC/Home: đường dẫn mà người dùng nhập
#  index.php?url=Home :đường dẫn mà server dùng 